# CME 193 - Lecture 6 - Pandas

Pandas is a package for working with tabular data

# Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

## Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

## Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

## Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

## Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

# Getting Started

[Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) is a link to the documentation for DataFrames

In [1]:
import pandas as pd
import numpy as np

## Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |
| ```pd.Panel``` | 3|  General 3D labeled, also size-mutable array |

# Series
## What are they?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- Basic method to create a series: 
```python 
s = pd.Series(data, index = index) ```
- Data Can be many things:
    * A Python Dictionary
    * An ndarray (or reg. list)
    * A scalar 
- The passed index is a list of axis labels (which varies on what data is)

Think "Series = Vector + labels"

In [2]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [3]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

a    0.475569
b   -0.078960
c    0.818047
d    1.099432
e   -0.126934
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict

In [4]:
d = {'a': [0., 0], 'b': {'1':1.}, 'c':2.}
pd.Series(d)

a      [0.0, 0]
b    {'1': 1.0}
c             2
dtype: object

You can create a series from a scalar, but need to specify indices

In [5]:
pd.Series(5, index=['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

You can index and slice series like you would numpy arrays/python lists

In [6]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a   -0.257387
b   -1.282494
c   -0.306402
d    0.540344
e    0.640344
dtype: float64

In [7]:
end_string = '\n' + '#'*50 + '\n'
print(s[0], end=end_string)
# slicing
print(s[:3], end=end_string)

-0.2573869778557435
##################################################
a   -0.257387
b   -1.282494
c   -0.306402
dtype: float64
##################################################

In [8]:
end_string = '\n' + '-'*50 + '\n'
print(s[0], end=end_string)
# slicing
print(s[:3], end=end_string)

-0.2573869778557435
--------------------------------------------------
a   -0.257387
b   -1.282494
c   -0.306402
dtype: float64
--------------------------------------------------

In [9]:
# Is the s element greater then the average of s?
s > s.mean()

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [10]:
# conditional max - index with booleans
print(s[s > s.mean()], end=end_string)
# elementwise function - vectorization
print(np.exp(s), end=end_string)

d    0.540344
e    0.640344
dtype: float64
--------------------------------------------------
a    0.773069
b    0.277345
c    0.736090
d    1.716597
e    1.897134
dtype: float64
--------------------------------------------------

Series are also like dictionaries - you can access values using index labels

In [11]:
print(s, end=end_string)
print(s['a'], end=end_string)

a   -0.257387
b   -1.282494
c   -0.306402
d    0.540344
e    0.640344
dtype: float64
--------------------------------------------------
-0.2573869778557435
--------------------------------------------------

In [12]:
s['e'] = 12  # set element using index label
print(s, end=end_string)
print('f' in s, end=end_string)  # check for index label
print(s.get('f', None), end=end_string)  # get item with index 'f' - if no such item return None
print(s.get('e', None), end=end_string)

a    -0.257387
b    -1.282494
c    -0.306402
d     0.540344
e    12.000000
dtype: float64
--------------------------------------------------
False
--------------------------------------------------
None
--------------------------------------------------
12.0
--------------------------------------------------

### Series Attributes:

- Get the index : 
```python 
s.index ``` 
- Get the values :
``` python 
s.values ``` 
- Find the shape : 
``` python 
s.shape ```

In [13]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
s.values

array([-0.25738698, -1.28249365, -0.30640236,  0.54034379, 12.        ])

In [15]:
s.shape

(5,)

### Series Iteration

In [16]:
for idx, val in s.iteritems():
    print(idx, val)

a -0.2573869778557435
b -1.2824936469491448
c -0.3064023616341038
d 0.5403437881165263
e 12.0

Sort by index or by value

In [17]:
print(s.sort_values(), end=end_string)
print(s.sort_index(), end=end_string)

b    -1.282494
c    -0.306402
a    -0.257387
d     0.540344
e    12.000000
dtype: float64
--------------------------------------------------
a    -0.257387
b    -1.282494
c    -0.306402
d     0.540344
e    12.000000
dtype: float64
--------------------------------------------------

Find counts of unique values

In [18]:
s = pd.Series([0,0,0,1,1,1,2,2,2,2])
sct = s.value_counts()
print(sct)

2    4
1    3
0    3
dtype: int64

You can do just about anything you can do with a numpy array

- Series.mean()
- Series.median()
- Series.mode()
- Series.nsmallest(num)
- Series.max ...

In [19]:
print(s.min(), end=end_string)
print(s.max(), end=end_string)
print(s.mean(), end=end_string)
print(s.median(), end=end_string)
print(s.nsmallest(2), end=end_string)

0
--------------------------------------------------
2
--------------------------------------------------
1.1
--------------------------------------------------
1.0
--------------------------------------------------
0    0
1    0
dtype: int64
--------------------------------------------------

## Exercise

- Consider the series `s` of letters in a sentence.
- What is count of each letter in the sentence, output a series which is sorted by the count
- Create a list with only the top 5 common letters (not including space)

In [20]:
s = pd.Series(list("Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index."))

In [21]:
s

0      S
1      e
2      r
3      i
4      e
      ..
195    n
196    d
197    e
198    x
199    .
Length: 200, dtype: object

In [22]:
# Series sorted by count
sct = s.value_counts()
sct

     29
e    23
a    15
i    12
t    12
n    12
s    11
l    11
o    10
r    10
d     6
b     5
c     5
y     5
h     4
,     4
g     4
f     3
.     3
p     3
x     2
m     2
P     1
u     1
j     1
)     1
S     1
T     1
-     1
(     1
v     1
dtype: int64

In [23]:
# list with the 5 most common letters
sct_5 = []
for idx, val in sct.iteritems():
    if idx != ' ':
        sct_5.append(idx)   
        if len(sct_5) == 5:
            break
print(sct_5)

['e', 'a', 'i', 't', 'n']

# DataFrame
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df. 
- If you do not pass anything in, the input will be constructed by "common sense" rules

[**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

# DataFrame Creation From dict of series or dicts
- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be first converted to Series. 
- If no columns are passed, the columns will be the sorted list of dict keys.

In [24]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
     'two': pd.Series(list(range(4)), index = ['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df, end = end_string)

d = {'one': {'a': 1, 'b': 2, 'c': 3},
     'two': pd.Series(list(range(4)), index = ['a', 'b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df, end = end_string)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------
   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------

In [25]:
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
     'two': pd.Series(list(range(4)), index = ['a', 'b', 'c', 'd'])}

print(pd.DataFrame(d, index = ['d', 'b', 'a']), end = end_string)
print(pd.DataFrame(d, index = ['d', 'b', 'a'], columns = ['two', 'three']), 
      end = end_string)

   one  two
d  NaN    3
b  2.0    1
a  1.0    0
--------------------------------------------------
   two three
d    3   NaN
b    1   NaN
a    0   NaN
--------------------------------------------------

# From dict of ndarray / lists
- The ndarrays must all be the same length. 
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [26]:
d = {'one': [1., 2., 3., 4.], 'two': [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

# From a list of dicts

In [27]:
data = []
for i in range(100):
    # dictionary comprehesion!
    data += [{'Column' + str(j):np.random.randint(100) for j in range(5)}]

data[:5]

[{'Column0': 34, 'Column1': 60, 'Column2': 92, 'Column3': 94, 'Column4': 68},
 {'Column0': 61, 'Column1': 73, 'Column2': 65, 'Column3': 69, 'Column4': 50},
 {'Column0': 55, 'Column1': 31, 'Column2': 19, 'Column3': 62, 'Column4': 16},
 {'Column0': 51, 'Column1': 79, 'Column2': 80, 'Column3': 26, 'Column4': 49},
 {'Column0': 8, 'Column1': 14, 'Column2': 80, 'Column3': 89, 'Column4': 62}]

In [28]:
# Creating DF from a list of dicts
df = pd.DataFrame(data)
print(df.head(), end = end_string)

   Column0  Column1  Column2  Column3  Column4
0       34       60       92       94       68
1       61       73       65       69       50
2       55       31       19       62       16
3       51       79       80       26       49
4        8       14       80       89       62
--------------------------------------------------

In [29]:
# Only certain columns
df = pd.DataFrame(data, columns = ['Column0', 'Column1'])
df.head()

   Column0  Column1
0       34       60
1       61       73
2       55       31
3       51       79
4        8       14

## Attributes

- ``` df.index ``` : the row index of df
- ``` df.columns ``` : the columns of df
- ``` df.shape ``` : the shape of the df
- ``` df.values ``` : numpy array of values

In [30]:
# Adding and accessing columns
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
     'two': pd.Series(range(4), index = ['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# Multiply
df['three'] = df['one'] * df['two']
# Create a boolean flag
df['flag'] = df['one'] > 2
print(df.head())

   one  two  three   flag
a  1.0    0    0.0  False
b  2.0    1    2.0  False
c  3.0    2    6.0   True
d  NaN    3    NaN  False

In [31]:
# Inserting column in specified location, with values
df.insert(1, 'bar', df['one'][:2])
print(df.head())

   one  bar  two  three   flag
a  1.0  1.0    0    0.0  False
b  2.0  2.0    1    2.0  False
c  3.0  NaN    2    6.0   True
d  NaN  NaN    3    NaN  False

In [33]:
# Deleting Columns
three = df.pop('three')
print(df.head(), end = end_string)
# Propagation of values
df['foo'] = 'bar'
print(df, end = end_string)

   one  bar  two   flag
a  1.0  1.0    0  False
b  2.0  2.0    1  False
c  3.0  NaN    2   True
d  NaN  NaN    3  False
--------------------------------------------------
   one  bar  two   flag  foo
a  1.0  1.0    0  False  bar
b  2.0  2.0    1  False  bar
c  3.0  NaN    2   True  bar
d  NaN  NaN    3  False  bar
--------------------------------------------------

## Indexing and Selection 

- 4 methods ``` [], ix, iloc, loc ```

| Operation  | Syntax       | Result | 
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  | 
| Select rows by boolean | df[mask]   | DataFrame        |

- Note all the operations below are valid on series as well restricted to one dimension

## Simplest form Of Indexing: []
- Series: selecting a label: s[label] 
- DataFrame: selection single or multiple columns: 
``` python 
df['col'] or df[['col1', 'col2']] ``` 
- DataFrame: slicing the rows:
``` python
df['rowlabel1': 'rowlabel2'] ``` 
or 
``` python 
df[boolean_mask] ```

In [35]:
# Lets create a data frame
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01  1.000627  0.536601  0.699227 -1.525244
2000-01-02  1.036131  1.067131  0.369614 -0.122003
...              ...       ...       ...       ...
2000-01-07  0.115736  1.102959  0.839961 -0.365579
2000-01-08 -1.068762 -1.219563  0.101912 -0.886555

[8 rows x 4 columns]

In [37]:
# column 'A'
df['A']

2000-01-01    1.000627
2000-01-02    1.036131
                ...
2000-01-07    0.115736
2000-01-08   -1.068762
Freq: D, Name: A, Length: 8, dtype: float64

In [40]:
df.loc[:, "A": "C"]

                   A         B         C
2000-01-01  1.000627  0.536601  0.699227
2000-01-02  1.036131  1.067131  0.369614
...              ...       ...       ...
2000-01-07  0.115736  1.102959  0.839961
2000-01-08 -1.068762 -1.219563  0.101912

[8 rows x 3 columns]

In [41]:
# multiple column
df[['A', 'C']]

                   A         C
2000-01-01  1.000627  0.699227
2000-01-02  1.036131  0.369614
...              ...       ...
2000-01-07  0.115736  0.839961
2000-01-08 -1.068762  0.101912

[8 rows x 2 columns]

In [43]:
# Slice by rows
df['2000-01-01': '2000-01-04']

                   A         B         C         D
2000-01-01  1.000627  0.536601  0.699227 -1.525244
2000-01-02  1.036131  1.067131  0.369614 -0.122003
2000-01-03  0.504901  0.161521 -0.970407  0.268576
2000-01-04  0.300514 -0.477444  0.062486 -0.942977

In [44]:
# boolean mask
df[df['A'] > df['B']].head()

                   A         B         C         D
2000-01-01  1.000627  0.536601  0.699227 -1.525244
2000-01-03  0.504901  0.161521 -0.970407  0.268576
2000-01-04  0.300514 -0.477444  0.062486 -0.942977
2000-01-08 -1.068762 -1.219563  0.101912 -0.886555

In [45]:
# Assign via []
df['A'] = df['B'].values
df.head()

                   A         B         C         D
2000-01-01  0.536601  0.536601  0.699227 -1.525244
2000-01-02  1.067131  1.067131  0.369614 -0.122003
...              ...       ...       ...       ...
2000-01-04 -0.477444 -0.477444  0.062486 -0.942977
2000-01-05  0.808873  0.808873 -0.669855  0.412374

[5 rows x 4 columns]

In [46]:
# Access a column by df.colname
df.A

2000-01-01    0.536601
2000-01-02    1.067131
                ...
2000-01-07    1.102959
2000-01-08   -1.219563
Freq: D, Name: A, Length: 8, dtype: float64

## Selecting by label .loc

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label 
    2. A list of labels
    3. A boolean array

In [47]:
# Selections by label .loc
df.loc['2000-01-01']

A    0.536601
B    0.536601
C    0.699227
D   -1.525244
Name: 2000-01-01 00:00:00, dtype: float64

In [48]:
df.loc[:, 'A':'C']

                   A         B         C
2000-01-01  0.536601  0.536601  0.699227
2000-01-02  1.067131  1.067131  0.369614
...              ...       ...       ...
2000-01-07  1.102959  1.102959  0.839961
2000-01-08 -1.219563 -1.219563  0.101912

[8 rows x 3 columns]

In [51]:
# Get the columns for which value > 0 on a certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0]

                   A         B         C
2000-01-01  0.536601  0.536601  0.699227
2000-01-02  1.067131  1.067131  0.369614
...              ...       ...       ...
2000-01-07  1.102959  1.102959  0.839961
2000-01-08 -1.219563 -1.219563  0.101912

[8 rows x 3 columns]

In [52]:
# Get the columns for which value > 0 on a certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0.6]

                   C
2000-01-01  0.699227
2000-01-02  0.369614
...              ...
2000-01-07  0.839961
2000-01-08  0.101912

[8 rows x 1 columns]