# Introduction to Scientific Python


http://web.stanford.edu/class/cme193/syllabus.html

# Strings

In [1]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

In [2]:
str4 = "hello"
str4.replace('l', 'p')

'heppo'

# Exceptions

In [3]:
try:
    x = 100 / 0
except ZeroDivisionError:
    print("We divided by zero")

We divided by zero

# Functions

In [4]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(-1, 2)

ValueError: Base and height must be non-negative

In [5]:
# Everything in python is an object, and can be passed into a functions
def f(x):
    return x + 2

def twice(f, x):
    return f(f(x))

def thrice(f, x):
    return f(f(f(x)))

print(twice(f, 2))
print(thrice(f, 2))

6
8

In [6]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is a dummy variable in iteration
        x = f(x)
    return x

n_apply(f, 1, 5)

11

In [7]:
def g(a, x, b=0):  # default value
    return a * x + b

In [8]:
g(2, 5, 1)

11

In [9]:
g(2, 5)

10

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [10]:
def pow2():
    index = 0
    power = 0
    while power < 10000:
        power = 2 ** index
        if power < 10000:
            print(power)
        index += 1
        
pow2()

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

In [11]:
# 1
def pow2_clever():
    p = 0
    while 2 ** (p + 1) < 10000: p += 1; print(2 ** p)

pow2_clever()

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

In [12]:
# 2
def a_2b(a, b):
    return a + 2 * b

print(a_2b(3, 5))

13

In [13]:
# 3
def fibonacci(n):
    fib_first = 0
    fib_second = 1
    fib_third = 0
    while fib_third < n:
#     for index in range(n):
        fib_third = fib_first + fib_second        
        if fib_third > n:
            break
        print(fib_third)
        fib_first = fib_second
        fib_second = fib_third
    
fibonacci(100000)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025

In [14]:
def fibonacci_clever(n):
    a, b, c = 0, 1, 0
    while c < n - a: c = a + b; print(c); a = b; b = c
        
fibonacci_clever(100000)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025

# Lists

In [15]:
for elt in ["step1", "step2"]:
    print(elt)

step1
step2

## List Comprehensions

Python's list comprehension let you create lists in a way that is reminiscent of set notation

$$ S = \{ \sqrt{x} ~\mid~ 0 \le x \le 20, x\mod 3 = 0\} $$

In [16]:
import math

In [17]:
S = [math.sqrt(x) for x in range(20) if x % 3 == 0]
S

[0.0,
 1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 3.872983346207417,
 4.242640687119285]

In [18]:
S = []
for x in range(20):
    if x % 3 == 0:
        S += [math.sqrt(x)]
S

[0.0,
 1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 3.872983346207417,
 4.242640687119285]

In [19]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            S += [(i, j, k)]
            
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [20]:
# it is possible to nest for loops
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

# Other Collections

We've seen the `list` class, which is ordered, indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered, indexed, and immutable
* `set` which is unordered, unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), which is unordered, indexed, and mutable, with no duplicate keys.

In [21]:
a_tuple = (1, 2, 4)
a_tuple[0] = 3  # tuple is immutable, then this line raises and Error

TypeError: 'tuple' object does not support item assignment

In [22]:
a_set = {5, 3, 2, 5}
a_set

{2, 3, 5}

In [23]:
a_dict = {}
a_dict[5] = 12
a_dict["key_2"] = 27
a_dict["key_3"] = [13, "value"]
a_dict

{5: 12, 'key_2': 27, 'key_3': [13, 'value']}

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python 
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

In [24]:
# Lists
# 1.
a_list = ['a', 'b', 'c']
print(a_list)

['a', 'b', 'c']

In [25]:
# 2.
a_list.insert(1, 'd')
print(a_list)

['a', 'd', 'b', 'c']

In [26]:
# 3.
a_list.remove('b')
print(a_list)

['a', 'd', 'c']

In [27]:
# Lists comprehensions
#1. 
"""It contains integers from 0 to 99"""
X = [i for i in range(100)]
X

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [28]:
# 2.
S1 = [x for x in X if x % 5 == 2]
S1

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [29]:
# 3.
S2 = [x for x in S1 if x % 2 == 0]
S2

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [30]:
# 4.
S3 = [(x, y) for x in S1 for y in S2]
S3

[(2, 2),
 (2, 12),
 (2, 22),
 (2, 32),
 (2, 42),
 (2, 52),
 (2, 62),
 (2, 72),
 (2, 82),
 (2, 92),
 (7, 2),
 (7, 12),
 (7, 22),
 (7, 32),
 (7, 42),
 (7, 52),
 (7, 62),
 (7, 72),
 (7, 82),
 (7, 92),
 (12, 2),
 (12, 12),
 (12, 22),
 (12, 32),
 (12, 42),
 (12, 52),
 (12, 62),
 (12, 72),
 (12, 82),
 (12, 92),
 (17, 2),
 (17, 12),
 (17, 22),
 (17, 32),
 (17, 42),
 (17, 52),
 (17, 62),
 (17, 72),
 (17, 82),
 (17, 92),
 (22, 2),
 (22, 12),
 (22, 22),
 (22, 32),
 (22, 42),
 (22, 52),
 (22, 62),
 (22, 72),
 (22, 82),
 (22, 92),
 (27, 2),
 (27, 12),
 (27, 22),
 (27, 32),
 (27, 42),
 (27, 52),
 (27, 62),
 (27, 72),
 (27, 82),
 (27, 92),
 (32, 2),
 (32, 12),
 (32, 22),
 (32, 32),
 (32, 42),
 (32, 52),
 (32, 62),
 (32, 72),
 (32, 82),
 (32, 92),
 (37, 2),
 (37, 12),
 (37, 22),
 (37, 32),
 (37, 42),
 (37, 52),
 (37, 62),
 (37, 72),
 (37, 82),
 (37, 92),
 (42, 2),
 (42, 12),
 (42, 22),
 (42, 32),
 (42, 42),
 (42, 52),
 (42, 62),
 (42, 72),
 (42, 82),
 (42, 92),
 (47, 2),
 (47, 12),
 (47, 22),
 (47, 32),
 (47, 42),
 (47, 52),
 (47, 62),
 (47, 72),
 (47, 82),
 (47, 92),
 (52, 2),
 (52, 12),
 (52, 22),
 (52, 32),
 (52, 42),
 (52, 52),
 (52, 62),
 (52, 72),
 (52, 82),
 (52, 92),
 (57, 2),
 (57, 12),
 (57, 22),
 (57, 32),
 (57, 42),
 (57, 52),
 (57, 62),
 (57, 72),
 (57, 82),
 (57, 92),
 (62, 2),
 (62, 12),
 (62, 22),
 (62, 32),
 (62, 42),
 (62, 52),
 (62, 62),
 (62, 72),
 (62, 82),
 (62, 92),
 (67, 2),
 (67, 12),
 (67, 22),
 (67, 32),
 (67, 42),
 (67, 52),
 (67, 62),
 (67, 72),
 (67, 82),
 (67, 92),
 (72, 2),
 (72, 12),
 (72, 22),
 (72, 32),
 (72, 42),
 (72, 52),
 (72, 62),
 (72, 72),
 (72, 82),
 (72, 92),
 (77, 2),
 (77, 12),
 (77, 22),
 (77, 32),
 (77, 42),
 (77, 52),
 (77, 62),
 (77, 72),
 (77, 82),
 (77, 92),
 (82, 2),
 (82, 12),
 (82, 22),
 (82, 32),
 (82, 42),
 (82, 52),
 (82, 62),
 (82, 72),
 (82, 82),
 (82, 92),
 (87, 2),
 (87, 12),
 (87, 22),
 (87, 32),
 (87, 42),
 (87, 52),
 (87, 62),
 (87, 72),
 (87, 82),
 (87, 92),
 (92, 2),
 (92, 12),
 (92, 22),
 (92, 32),
 (92, 42),
 (92, 52),
 (92, 62),
 (92, 72),
 (92, 82),
 (92, 92),
 (97, 2),
 (97, 12),
 (97, 22),
 (97, 32),
 (97, 42),
 (97, 52),
 (97, 62),
 (97, 72),
 (97, 82),
 (97, 92)]

In [31]:
# Other collections
a_tuple = ("Sao Paulo", "New York", "Milan")
a_tuple

('Sao Paulo', 'New York', 'Milan')

In [32]:
for x in a_tuple:
    print(x)

Sao Paulo
New York
Milan

In [33]:
a_set = {"John", 1990, 7.5}
a_set

{1990, 7.5, 'John'}

In [34]:
for x in a_set:
    print(x)

John
1990
7.5

In [35]:
a_dict = {"name": "Angela", "age": 34, "savings": 7543.34}
a_dict

{'name': 'Angela', 'age': 34, 'savings': 7543.34}

In [36]:
for x in a_dict:
    print(x)

name
age
savings

# Classes

Classes let you abstract away details while programming.

In [37]:
class Animal:
    def say_hi(self):
        print("Hi!")

In [38]:
x = Animal()
x.say_hi()

Hi!

## Example: Rational Numbers

Here we'l make a class that holds rational numbers (fractions).  That is, numbers of the form
$$r = \frac{p}{q}$$
where $p$ and $q$ are integers

In [39]:
class Rational:
    def __init__(self, p, q=1):
    
        if q == 0:
            raise ValueError('Denominator must not be zero')
        if not isinstance(p, int):
            raise ValueError('Numerator must be an integer')
        if not isinstance(q, int):
            raise ValueError('Denominator must be an integer')
        
        g = math.gcd(p, q)
        
        self.p = p // g # integer division
        self.q = q // g
    
    # method to convert rational to float
    def __float__(self):
        return self.p / self.q
    
    # method to convert rational to string for printing
    def __str__(self):
        return f'{self.p}/{self.q}'
    
    def __repr__(self):
        return f'Rational({self.p}, {self.q})'

In [40]:
a = Rational(6, 4)
b = Rational(3, 2)

print(type(a))
print(f"a = {a}")
print(f"b = {b}")
print([a,b])
print(f"float(a) = {float(a)}")

<class '__main__.Rational'>
a = 3/2
b = 3/2
[Rational(3, 2), Rational(3, 2)]
float(a) = 1.5

In [41]:
a + b

TypeError: unsupported operand type(s) for +: 'Rational' and 'Rational'

You can do cool things like overload math operators.  This lets you write code that looks like you would write math.  Recall

$$ \frac{p_1}{q_1} + \frac{p_2}{q_2} = \frac{p_1 q_2 + p_2 q_1}{q_1 q_2}$$

We'll see this next time!